Connectors/IntuneEPMElevationRequests/LogicApp/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "EPM-FetchElevationRequests",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "dcrName": {
      "type": "string",
      "defaultValue": "EPMElevationRequests-dcr",
      "metadata": {
        "description": "Name of the Data Collection Rule."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region."
      }
    },
    "workspaceResourceId": {
      "type": "string",
      "metadata": {
        "description": "Full resource ID of the Log Analytics workspace (e.g. /subscriptions/.../resourceGroups/.../providers/Microsoft.OperationalInsights/workspaces/...)."
      }
    },
    "recurrenceIntervalHours": {
      "type": "int",
      "defaultValue": 24,
      "metadata": {
        "description": "How often (in hours) the Logic App runs."
      }
    }
  },
  "variables": {
    "dcrStreamName": "Custom-EPMElevationRequests",
    "monitoringMetricsPublisherRoleId": "3913510d-42f4-4e42-8a64-420c390055eb"
  },
  "resources": [
    {
      "type": "Microsoft.Insights/dataCollectionRules",
      "apiVersion": "2023-03-11",
      "name": "[parameters('dcrName')]",
      "location": "[parameters('location')]",
      "kind": "Direct",
      "properties": {
        "streamDeclarations": {
          "Custom-EPMElevationRequests": {
            "columns": [
              { "name": "TimeGenerated", "type": "datetime" },
              { "name": "id", "type": "string" },
              { "name": "status", "type": "string" },
              { "name": "requestedByUserId", "type": "string" },
              { "name": "requestedByUserPrincipalName", "type": "string" },
              { "name": "requestedOnDeviceId", "type": "string" },
              { "name": "deviceName", "type": "string" },
              { "name": "requestCreatedDateTime", "type": "datetime" },
              { "name": "requestLastModifiedDateTime", "type": "datetime" },
              { "name": "requestJustification", "type": "string" },
              { "name": "requestExpiryDateTime", "type": "datetime" },
              { "name": "fileName", "type": "string" },
              { "name": "filePath", "type": "string" },
              { "name": "fileHash", "type": "string" },
              { "name": "fileDescription", "type": "string" },
              { "name": "publisherName", "type": "string" },
              { "name": "publisherCert", "type": "string" },
              { "name": "productName", "type": "string" },
              { "name": "productInternalName", "type": "string" },
              { "name": "productVersion", "type": "string" },
              { "name": "reviewCompletedByUserId", "type": "string" },
              { "name": "reviewCompletedByUserPrincipalName", "type": "string" },
              { "name": "reviewCompletedDateTime", "type": "datetime" },
              { "name": "reviewerJustification", "type": "string" }
            ]
          }
        },
        "destinations": {
          "logAnalytics": [
            {
              "workspaceResourceId": "[parameters('workspaceResourceId')]",
              "name": "workspace"
            }
          ]
        },
        "dataFlows": [
          {
            "streams": [ "Custom-EPMElevationRequests" ],
            "destinations": [ "workspace" ],
            "transformKql": "source",
            "outputStream": "Custom-EPMElevationRequests_CL"
          }
        ]
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": "[parameters('recurrenceIntervalHours')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_NextLink": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "nextLink",
                    "type": "string",
                    "value": "https://graph.microsoft.com/beta/deviceManagement/elevationRequests"
                  }
                ]
              }
            },
            "Initialize_AllResults": {
              "runAfter": {
                "Initialize_NextLink": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "allResults",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Initialize_LogsIngestionURL": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "LogsIngestionURL",
                    "type": "string",
                    "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName')), '2023-03-11').endpoints.logsIngestion]"
                  }
                ]
              }
            },
            "Initialize_DCRStreamName": {
              "runAfter": {
                "Initialize_LogsIngestionURL": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DCRStreamName",
                    "type": "string",
                    "value": "[variables('dcrStreamName')]"
                  }
                ]
              }
            },
            "Initialize_DCRImmutableID": {
              "runAfter": {
                "Initialize_DCRStreamName": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DCRImmutableID",
                    "type": "string",
                    "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName')), '2023-03-11').immutableId]"
                  }
                ]
              }
            },
            "Paginate_Through_Results": {
              "runAfter": {
                "Initialize_AllResults": [ "Succeeded" ]
              },
              "type": "Until",
              "expression": "@equals(variables('nextLink'), '')",
              "limit": {
                "count": 100,
                "timeout": "PT1H"
              },
              "actions": {
                "HTTP_-_Get_Elevation_Requests": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{variables('nextLink')}",
                    "headers": {
                      "ConsistencyLevel": "eventual"
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Append_Page_to_Results": {
                  "runAfter": {
                    "HTTP_-_Get_Elevation_Requests": [ "Succeeded" ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "allResults",
                    "value": "@body('HTTP_-_Get_Elevation_Requests')?['value']"
                  }
                },
                "Check_NextLink": {
                  "runAfter": {
                    "Append_Page_to_Results": [ "Succeeded" ]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Set_NextLink": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "nextLink",
                        "value": "@{body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']}"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Clear_NextLink": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "nextLink",
                          "value": ""
                        }
                      }
                    }
                  }
                }
              }
            },
            "Flatten_Results": {
              "runAfter": {
                "Paginate_Through_Results": [ "Succeeded" ]
              },
              "type": "Select",
              "inputs": {
                "from": "@variables('allResults')",
                "select": {
                  "TimeGenerated": "@item()?['requestCreatedDateTime']",
                  "id": "@item()?['id']",
                  "status": "@item()?['status']",
                  "requestedByUserId": "@item()?['requestedByUserId']",
                  "requestedByUserPrincipalName": "@item()?['requestedByUserPrincipalName']",
                  "requestedOnDeviceId": "@item()?['requestedOnDeviceId']",
                  "deviceName": "@item()?['deviceName']",
                  "requestCreatedDateTime": "@item()?['requestCreatedDateTime']",
                  "requestLastModifiedDateTime": "@item()?['requestLastModifiedDateTime']",
                  "requestJustification": "@item()?['requestJustification']",
                  "requestExpiryDateTime": "@item()?['requestExpiryDateTime']",
                  "fileName": "@item()?['applicationDetail']?['fileName']",
                  "filePath": "@item()?['applicationDetail']?['filePath']",
                  "fileHash": "@item()?['applicationDetail']?['fileHash']",
                  "fileDescription": "@item()?['applicationDetail']?['fileDescription']",
                  "publisherName": "@item()?['applicationDetail']?['publisherName']",
                  "publisherCert": "@item()?['applicationDetail']?['publisherCert']",
                  "productName": "@item()?['applicationDetail']?['productName']",
                  "productInternalName": "@item()?['applicationDetail']?['productInternalName']",
                  "productVersion": "@item()?['applicationDetail']?['productVersion']",
                  "reviewCompletedByUserId": "@item()?['reviewCompletedByUserId']",
                  "reviewCompletedByUserPrincipalName": "@item()?['reviewCompletedByUserPrincipalName']",
                  "reviewCompletedDateTime": "@item()?['reviewCompletedDateTime']",
                  "reviewerJustification": "@item()?['reviewerJustification']"
                }
              }
            },
            "Condition_-_Has_Results": {
              "runAfter": {
                "Flatten_Results": [ "Succeeded" ]
              },
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Flatten_Results'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "HTTP_Send_Data_to_Custom_Table": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{variables('LogsIngestionURL')}/dataCollectionRules/@{variables('DCRImmutableID')}/streams/@{variables('DCRStreamName')}?api-version=2023-01-01",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": "@body('Flatten_Results')",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://monitor.azure.com"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "No_Results": {
                    "type": "Compose",
                    "inputs": "No elevation requests returned. Skipping ingestion."
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "type": "Microsoft.Insights/dataCollectionRules/providers/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[concat(parameters('dcrName'), '/Microsoft.Authorization/', guid(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName')), resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), variables('monitoringMetricsPublisherRoleId')))]",
      "dependsOn": [
        "[resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName'))]",
        "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('monitoringMetricsPublisherRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]",
        "principalType": "ServicePrincipal"
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "managedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    },
    "dcrId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName'))]"
    },
    "dcrImmutableId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName')), '2023-03-11').immutableId]"
    },
    "logsIngestionEndpoint": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName')), '2023-03-11').endpoints.logsIngestion]"
    }
  }
}
