Connectors/IntuneEPMElevationRequests/azuredeploy.json.old
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "defaultValue": "EPM-FetchElevationRequests",
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App."
            }
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String",
            "metadata": {
                "description": "Azure region for all resources."
            }
        },
        "recurrenceIntervalHours": {
            "defaultValue": 24,
            "type": "Int",
            "metadata": {
                "description": "How often (in hours) the Logic App runs."
            }
        },
        "logAnalyticsWorkspaceName": {
            "type": "String",
            "metadata": {
                "description": "Name of an existing Log Analytics workspace."
            }
        },
        "logAnalyticsWorkspaceRG": {
            "defaultValue": "[resourceGroup().name]",
            "type": "String",
            "metadata": {
                "description": "Resource group of the Log Analytics workspace (if different from this deployment's resource group)."
            }
        },
        "logAnalyticsLogType": {
            "defaultValue": "EPMElevationRequests",
            "type": "String",
            "metadata": {
                "description": "Custom log table name (appears as <name>_CL in Log Analytics)."
            }
        }
    },
    "variables": {
        "logAnalyticsConnectionName": "azureloganalyticsdatacollector",
        "logAnalyticsConnectionId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]",
        "workspaceResourceId": "[resourceId(parameters('logAnalyticsWorkspaceRG'), 'Microsoft.OperationalInsights/workspaces', parameters('logAnalyticsWorkspaceName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('logAnalyticsConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "Log Analytics Data Collector",
                "api": {
                    "id": "[variables('logAnalyticsConnectionId')]"
                },
                "parameterValues": {
                    "username": "[reference(variables('workspaceResourceId'), '2021-06-01').customerId]",
                    "password": "[listKeys(variables('workspaceResourceId'), '2021-06-01').primarySharedKey]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "logType": {
                            "defaultValue": "",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": "[parameters('recurrenceIntervalHours')]"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Initialize_NextLink": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "nextLink",
                                        "type": "string",
                                        "value": "https://graph.microsoft.com/beta/deviceManagement/elevationRequests"
                                    }
                                ]
                            }
                        },
                        "Initialize_AllResults": {
                            "runAfter": {
                                "Initialize_NextLink": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "allResults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Paginate_Through_Results": {
                            "runAfter": {
                                "Initialize_AllResults": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Until",
                            "expression": "@equals(variables('nextLink'), '')",
                            "limit": {
                                "count": 100,
                                "timeout": "PT1H"
                            },
                            "actions": {
                                "HTTP_-_Get_Elevation_Requests": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@{variables('nextLink')}",
                                        "headers": {
                                            "ConsistencyLevel": "eventual"
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    }
                                },
                                "Append_Page_to_Results": {
                                    "runAfter": {
                                        "HTTP_-_Get_Elevation_Requests": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "allResults",
                                        "value": "@body('HTTP_-_Get_Elevation_Requests')?['value']"
                                    }
                                },
                                "Check_NextLink": {
                                    "runAfter": {
                                        "Append_Page_to_Results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']",
                                                        "1"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Set_NextLink": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "nextLink",
                                                "value": "@{body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']}"
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Clear_NextLink": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "nextLink",
                                                    "value": "1"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Flatten_Results": {
                            "runAfter": {
                                "Paginate_Through_Results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@variables('allResults')",
                                "select": {
                                    "id": "@item()?['id']",
                                    "status": "@item()?['status']",
                                    "requestedByUserId": "@item()?['requestedByUserId']",
                                    "requestedByUserPrincipalName": "@item()?['requestedByUserPrincipalName']",
                                    "requestedOnDeviceId": "@item()?['requestedOnDeviceId']",
                                    "deviceName": "@item()?['deviceName']",
                                    "requestCreatedDateTime": "@item()?['requestCreatedDateTime']",
                                    "requestLastModifiedDateTime": "@item()?['requestLastModifiedDateTime']",
                                    "requestJustification": "@item()?['requestJustification']",
                                    "requestExpiryDateTime": "@item()?['requestExpiryDateTime']",
                                    "fileName": "@item()?['applicationDetail']?['fileName']",
                                    "filePath": "@item()?['applicationDetail']?['filePath']",
                                    "fileHash": "@item()?['applicationDetail']?['fileHash']",
                                    "fileDescription": "@item()?['applicationDetail']?['fileDescription']",
                                    "publisherName": "@item()?['applicationDetail']?['publisherName']",
                                    "publisherCert": "@item()?['applicationDetail']?['publisherCert']",
                                    "productName": "@item()?['applicationDetail']?['productName']",
                                    "productInternalName": "@item()?['applicationDetail']?['productInternalName']",
                                    "productVersion": "@item()?['applicationDetail']?['productVersion']",
                                    "reviewCompletedByUserId": "@item()?['reviewCompletedByUserId']",
                                    "reviewCompletedByUserPrincipalName": "@item()?['reviewCompletedByUserPrincipalName']",
                                    "reviewCompletedDateTime": "@item()?['reviewCompletedDateTime']",
                                    "reviewerJustification": "@item()?['reviewerJustification']"
                                }
                            }
                        },
                        "Condition_-_Has_Results": {
                            "runAfter": {
                                "Flatten_Results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(body('Flatten_Results'))",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Send_to_Log_Analytics": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": "@{body('Flatten_Results')}",
                                        "headers": {
                                            "Log-Type": "@parameters('logType')",
                                            "time-generated-field": "requestCreatedDateTime"
                                        },
                                        "path": "/api/logs"
                                    }
                                }
                            },
                            "else": {
                                "actions": {
                                    "No_Results": {
                                        "type": "Compose",
                                        "inputs": "No elevation requests returned. Skipping ingestion."
                                    }
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]",
                                "connectionName": "[variables('logAnalyticsConnectionName')]",
                                "id": "[variables('logAnalyticsConnectionId')]"
                            }
                        }
                    },
                    "logType": {
                        "value": "[parameters('logAnalyticsLogType')]"
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppName": {
            "type": "String",
            "value": "[parameters('logicAppName')]"
        },
        "managedIdentityPrincipalId": {
            "type": "String",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
        }
    }
}
