Connectors/IntuneEPMElevationRequests/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "EPM-FetchElevationRequests",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for all resources."
      }
    },
    "recurrenceIntervalHours": {
      "type": "int",
      "defaultValue": 24,
      "metadata": {
        "description": "How often (in hours) the Logic App runs."
      }
    },
    "dceLogsIngestionUrl": {
      "type": "string",
      "metadata": {
        "description": "Logs ingestion URL of the Data Collection Endpoint (e.g. https://<name>.<region>.ingest.monitor.azure.com)."
      }
    },
    "dcrImmutableId": {
      "type": "string",
      "metadata": {
        "description": "Immutable ID of the Data Collection Rule (e.g. dcr-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx)."
      }
    },
    "dcrStreamName": {
      "type": "string",
      "defaultValue": "Custom-EPMElevationRequests",
      "metadata": {
        "description": "Stream name declared in the Data Collection Rule."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": "[parameters('recurrenceIntervalHours')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_NextLink": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "nextLink",
                    "type": "string",
                    "value": "https://graph.microsoft.com/beta/deviceManagement/elevationRequests"
                  }
                ]
              }
            },
            "Initialize_AllResults": {
              "runAfter": {
                "Initialize_NextLink": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "allResults",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Initialize_DCELogsIngestionURL": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DCELogsIngestionURL",
                    "type": "string",
                    "value": "[parameters('dceLogsIngestionUrl')]"
                  }
                ]
              }
            },
            "Initialize_DCRImmutableID": {
              "runAfter": {
                "Initialize_DCRStreamName": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DCRImmutableID",
                    "type": "string",
                    "value": "[parameters('dcrImmutableId')]"
                  }
                ]
              }
            },
            "Initialize_DCRStreamName": {
              "runAfter": {
                "Initialize_DCELogsIngestionURL": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DCRStreamName",
                    "type": "string",
                    "value": "[parameters('dcrStreamName')]"
                  }
                ]
              }
            },
            "Paginate_Through_Results": {
              "runAfter": {
                "Initialize_AllResults": ["Succeeded"]
              },
              "type": "Until",
              "expression": "@equals(variables('nextLink'), '')",
              "limit": {
                "count": 100,
                "timeout": "PT1H"
              },
              "actions": {
                "HTTP_-_Get_Elevation_Requests": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{variables('nextLink')}",
                    "headers": {
                      "ConsistencyLevel": "eventual"
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Append_Page_to_Results": {
                  "runAfter": {
                    "HTTP_-_Get_Elevation_Requests": ["Succeeded"]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "allResults",
                    "value": "@body('HTTP_-_Get_Elevation_Requests')?['value']"
                  }
                },
                "Check_NextLink": {
                  "runAfter": {
                    "Append_Page_to_Results": ["Succeeded"]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Set_NextLink": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "nextLink",
                        "value": "@{body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']}"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Clear_NextLink": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "nextLink",
                          "value": ""
                        }
                      }
                    }
                  }
                }
              }
            },
            "Flatten_Results": {
              "runAfter": {
                "Paginate_Through_Results": ["Succeeded"]
              },
              "type": "Select",
              "inputs": {
                "from": "@variables('allResults')",
                "select": {
                  "TimeGenerated": "@item()?['requestCreatedDateTime']",
                  "id": "@item()?['id']",
                  "status": "@item()?['status']",
                  "requestedByUserId": "@item()?['requestedByUserId']",
                  "requestedByUserPrincipalName": "@item()?['requestedByUserPrincipalName']",
                  "requestedOnDeviceId": "@item()?['requestedOnDeviceId']",
                  "deviceName": "@item()?['deviceName']",
                  "requestCreatedDateTime": "@item()?['requestCreatedDateTime']",
                  "requestLastModifiedDateTime": "@item()?['requestLastModifiedDateTime']",
                  "requestJustification": "@item()?['requestJustification']",
                  "requestExpiryDateTime": "@item()?['requestExpiryDateTime']",
                  "fileName": "@item()?['applicationDetail']?['fileName']",
                  "filePath": "@item()?['applicationDetail']?['filePath']",
                  "fileHash": "@item()?['applicationDetail']?['fileHash']",
                  "fileDescription": "@item()?['applicationDetail']?['fileDescription']",
                  "publisherName": "@item()?['applicationDetail']?['publisherName']",
                  "publisherCert": "@item()?['applicationDetail']?['publisherCert']",
                  "productName": "@item()?['applicationDetail']?['productName']",
                  "productInternalName": "@item()?['applicationDetail']?['productInternalName']",
                  "productVersion": "@item()?['applicationDetail']?['productVersion']",
                  "reviewCompletedByUserId": "@item()?['reviewCompletedByUserId']",
                  "reviewCompletedByUserPrincipalName": "@item()?['reviewCompletedByUserPrincipalName']",
                  "reviewCompletedDateTime": "@item()?['reviewCompletedDateTime']",
                  "reviewerJustification": "@item()?['reviewerJustification']"
                }
              }
            },
            "Condition_-_Has_Results": {
              "runAfter": {
                "Flatten_Results": ["Succeeded"]
              },
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Flatten_Results'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "HTTP_Send_Data_to_Custom_Table": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{variables('DCELogsIngestionURL')}/dataCollectionRules/@{variables('DCRImmutableID')}/streams/@{variables('DCRStreamName')}?api-version=2023-01-01",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": "@body('Flatten_Results')",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://monitor.azure.com"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "No_Results": {
                    "type": "Compose",
                    "inputs": "No elevation requests returned. Skipping ingestion."
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "managedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
