Connectors/IntuneEPMElevationRequests/epm-elevation-requests-logic-app.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "EPM-FetchElevationRequests",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App"
      }
    },
    "recurrenceIntervalHours": {
      "type": "int",
      "defaultValue": 24,
      "metadata": {
        "description": "How often (in hours) the Logic App runs"
      }
    },
    "logAnalyticsWorkspaceId": {
      "type": "string",
      "metadata": {
        "description": "Log Analytics Workspace ID to send elevation request logs to"
      }
    },
    "logAnalyticsSharedKey": {
      "type": "securestring",
      "metadata": {
        "description": "Log Analytics Workspace shared (primary) key"
      }
    },
    "logAnalyticsLogType": {
      "type": "string",
      "defaultValue": "EPMElevationRequests",
      "metadata": {
        "description": "Custom log table name in Log Analytics (will appear as <name>_CL)"
      }
    }
  },
  "variables": {
    "azureLogAnalyticsConnectionName": "azureloganalyticsdatacollector",
    "azureLogAnalyticsConnectionId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureLogAnalyticsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Log Analytics Data Collector",
        "api": {
          "id": "[variables('azureLogAnalyticsConnectionId')]"
        },
        "parameterValues": {
          "username": "[parameters('logAnalyticsWorkspaceId')]",
          "password": "[parameters('logAnalyticsSharedKey')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureLogAnalyticsConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "logType": {
              "defaultValue": "[parameters('logAnalyticsLogType')]",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": "[parameters('recurrenceIntervalHours')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_NextLink": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "nextLink",
                    "type": "string",
                    "value": "https://graph.microsoft.com/beta/deviceManagement/elevationRequests"
                  }
                ]
              }
            },
            "Initialize_AllResults": {
              "runAfter": {
                "Initialize_NextLink": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "allResults",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Paginate_Through_All_Results": {
              "runAfter": {
                "Initialize_AllResults": [ "Succeeded" ]
              },
              "type": "Until",
              "expression": "@equals(variables('nextLink'), '')",
              "limit": {
                "count": 100,
                "timeout": "PT1H"
              },
              "actions": {
                "HTTP_-_Get_Elevation_Requests": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{variables('nextLink')}",
                    "headers": {
                      "ConsistencyLevel": "eventual"
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Append_Page_Results": {
                  "runAfter": {
                    "HTTP_-_Get_Elevation_Requests": [ "Succeeded" ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "allResults",
                    "value": "@body('HTTP_-_Get_Elevation_Requests')?['value']"
                  }
                },
                "Check_For_NextLink": {
                  "runAfter": {
                    "Append_Page_Results": [ "Succeeded" ]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Set_NextLink_to_next_page": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "nextLink",
                        "value": "@{body('HTTP_-_Get_Elevation_Requests')?['@odata.nextLink']}"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Clear_NextLink_to_exit_loop": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "nextLink",
                          "value": ""
                        }
                      }
                    }
                  }
                }
              }
            },
            "Flatten_Paginated_Results": {
              "runAfter": {
                "Paginate_Through_All_Results": [ "Succeeded" ]
              },
              "type": "Select",
              "inputs": {
                "from": "@variables('allResults')",
                "select": {
                  "id": "@item()?['id']",
                  "requestedByUserId": "@item()?['requestedByUserId']",
                  "requestedByUserPrincipalName": "@item()?['requestedByUserPrincipalName']",
                  "requestedOnDeviceId": "@item()?['requestedOnDeviceId']",
                  "deviceName": "@item()?['deviceName']",
                  "requestCreatedDateTime": "@item()?['requestCreatedDateTime']",
                  "requestLastModifiedDateTime": "@item()?['requestLastModifiedDateTime']",
                  "requestJustification": "@item()?['requestJustification']",
                  "status": "@item()?['status']",
                  "fileName": "@item()?['applicationDetail']?['fileName']",
                  "filePath": "@item()?['applicationDetail']?['filePath']",
                  "fileHash": "@item()?['applicationDetail']?['fileHash']",
                  "fileDescription": "@item()?['applicationDetail']?['fileDescription']",
                  "publisherName": "@item()?['applicationDetail']?['publisherName']",
                  "productName": "@item()?['applicationDetail']?['productName']",
                  "productVersion": "@item()?['applicationDetail']?['productVersion']",
                  "reviewCompletedByUserId": "@item()?['reviewCompletedByUserId']",
                  "reviewCompletedByUserPrincipalName": "@item()?['reviewCompletedByUserPrincipalName']",
                  "reviewCompletedDateTime": "@item()?['reviewCompletedDateTime']",
                  "requestExpiryDateTime": "@item()?['requestExpiryDateTime']",
                  "reviewerJustification": "@item()?['reviewerJustification']"
                }
              }
            },
            "Condition_-_Has_Results": {
              "runAfter": {
                "Flatten_Paginated_Results": [ "Succeeded" ]
              },
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Flatten_Paginated_Results'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Send_Data_to_Log_Analytics": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": "@{body('Flatten_Paginated_Results')}",
                    "headers": {
                      "Log-Type": "@parameters('logType')",
                      "time-generated-field": "requestCreatedDateTime"
                    },
                    "path": "/api/logs"
                  }
                }
              },
              "else": {
                "actions": {
                  "No_results_-_skip": {
                    "type": "Compose",
                    "inputs": "No elevation requests returned from Graph API. Nothing to send."
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureloganalyticsdatacollector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureLogAnalyticsConnectionName'))]",
                "connectionName": "[variables('azureLogAnalyticsConnectionName')]",
                "id": "[variables('azureLogAnalyticsConnectionId')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
